#logo {
  animation: textColor 10s ease infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textColor {
  0% {
    color: #1700a0;
  }
  50% {
    color: #fafafc;
  }
  100% {
    color: #08035f;
  }
}

