.portfolio-block.partners a img {
  height: 80px !important;
  max-width: none !important;
  filter: none;
  -webkit-filter: none;  
}

.partners2 {
  padding: 10px !important;
}

.portfolio-block.partners .partners2 img {
  width: 100% !important;
  filter: none !important;
}

.border-shadow {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3) !important;
  	transition: box-shadow 500ms !important;
}

.border-shadow:hover {
	box-shadow: 0 0 15px 8px rgba(0,0,0,.15)!important;
}